.c-gray-1 {
  color: #4A4A4A;
}

.bg-gray-1 {
  background-color: #4A4A4A;
}

.c-gray- {
  color: #8B8D8E;
}

.bg-gray- {
  background-color: #8B8D8E;
}

.c-gray--1 {
  color: #494949;
}

.bg-gray--1 {
  background-color: #494949;
}

.c-cyan-1 {
  color: #97C7E0;
}

.bg-cyan-1 {
  background-color: #97C7E0;
}

.c-cyan- {
  color: #09c;
}

.bg-cyan- {
  background-color: #09c;
}

.c-cyan--1 {
  color: #0075B0;
}

.bg-cyan--1 {
  background-color: #0075B0;
}
