@each $color_key,$color_val in $palette{

    @each $tone_key,$tone_val in $color_val{
        @if $tone_key == 'base'{
            .c#{$mod}#{$color_key}{
                color: $tone_val
            }
            .bg#{$mod}#{$color_key}{
                background-color: $tone_val
            }
        }

        @else {
            .c#{$mod}#{$color_key}#{$mod_n}#{$tone_key}{
                color: $tone_val
            }
            .bg#{$mod}#{$color_key}#{$mod_n}#{$tone_key}{
                background-color: $tone_val
            }   
        }
    }  
}