//========================
//        SYNTAX
//========================

$breakpoints: (
    not_big:(
        size: toEm(1080px,16px),
        syntax: "\\@nb" 
    ),
    medium:(
        size: toEm(780px,16px),
        syntax: "\\@md" 
    ),
    small:(
        size: toEm(510px,16px),
        syntax: "\\@sm"
    ),
    large:(
        size: toEm(820px,16px),
        syntax: "\\@lg"
    )
);

//modifier

$prefix_number_with_modifier: true;
$modifier: '-';

$breakpoint_logic: 'max-width';

//========================
//        SPACING
//========================
$positive_scale_ratio: 2;
$negative_scale_ratio: $positive_scale_ratio * -1;

$base_positive_number: 0.25;
$base_negative_number: $base_positive_number * -1;

$positive_steps: 6;
$negative_steps: 4;



//========================
//        COLORS
//========================

$palette: (
    gray: (
        +1:     #4A4A4A,
        base:   #8B8D8E,
        -1:     #494949,
    ),
    cyan:(
        +1:     #97C7E0,
        base:   #09c,
        -1:     #0075B0,
    ),
);